.badge {
    padding: 2px 5px;

    &.badge-success {
        background: $success;
    }

    &.badge-warning {
        background: $warning;
    }

    &.badge-danger {
        background: $danger;
    }

    &.badge-primary {
        background: $primary;
    }

    &.badge-inverse {
        background: $inverse;
    }

    &.badge-info {
        background: $info;
    }
}