$textSize: 250px;
$attachmentSize: 150px;

.maximize {
    #composer {
        &.fullscreen {
            left: 65px;
        }
    }
}

#composer {
    background: #fff;
    width: 700px;
    position: fixed;
    bottom: 0;
    right: 15px;
    box-shadow:  0 2px 8px rgba(0, 0, 0, 0.3);

    &.minimized {
        width: 250px;
    }

    &.fullscreen {
        top: 65px;
        bottom: 15px;
        left: 215px;

        .composer-body {
            position: absolute;
            top: 40px;
            left: 0;
            right: 0;
            bottom: 0;

            .composer-footer {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
    }

    &.attachments-closed {
        .composer-body {
            .line {
                &.editor {
                    .note-editable {
                        height: calc(#{$textSize} - 42px) !important;
                    }
                }
            }
        }
    }

    &.attachments-opened {
        .composer-body {
            .line {
                &.editor {
                    .note-editable {
                        height: calc(#{$textSize} - 42px - #{$attachmentSize}) !important;
                    }
                }
            }
        }
    }

    .composer-header {
        background: $primary;
        display: block;
        padding: 10px;
        float: left;
        width: 100%;
        color: #fff;

        .title {
            margin: 0;
            font-size: 16px;
            font-weight: 300;
            float: left;
            color: #fff;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: calc(100% - 80px);
            line-height: normal;
        }

        .options {
            float: right;

            button {
                background: none;
                border: 0;
                padding: 0;
                margin: 0 10px;

                &:active,
                &:focus {
                    outline: 0;
                    border: 0;
                }
            }
        }
    }

    .composer-body {
        display: block;
        float: left;
        width: 100%;

        .line {
            padding: 10px;
            border-bottom: 1px solid #e1e1e1;
            display: table;
            width: 100%;

            &.editor {
                padding: 0;

                .note-toolbar {
                    padding: 5px;
                    background: #fff;
                    border: 0;

                    .note-color .dropdown-menu {
                        min-width: 350px;
                    }

                    .btn-group {
                        margin-top: 0;
                    }
                }

                .note-editor {
                    border: 0;
                    box-shadow: none;
                    margin: 0;
                }

                .note-editable {
                    height: $textSize !important;
                    min-height: auto !important;
                    max-height: auto !important;
                    color: #444;
                }
            }

            &.company {
                label {
                    width: 75px;
                }
            }

            &.to {
                label {
                    width: 45px;
                }
            }

            label {
                color: $theme-light;
                display: table-cell;
                font-size: 12px;
            }

            .field {
                border: 0;
                width: 100%;
                font-size: 12px;
                min-height: 31px;
                line-height: 31px;

                &::placeholder {
                    color: $theme-light;
                }

                .selector-tags {
                    border: 0;
                    padding: 0;
                    margin: 0;

                    .contextmenu {
                        display: inline-block;
                    }

                    .selector-tags__tag,
                    .selector-tag__input {
                        margin: 3px;
                    }

                    .selector-tag__input {
                        width: 250px;
                    }
                }
            }

            .options {
                &.dropdown {
                    display: table-cell;

                    .dropdown-toggle {
                        padding: 0;
                    }

                    .dropdown-menu {
                        min-width: 400px;

                        .header {
                            padding: 10px 15px;
                            color: #888888;
                            font-size: 12px;
                            font-weight: 300;
                            display: block;
                            line-height: normal;
                            height: auto;
                            color: #999;
                        }

                        .tags {
                            float: right;

                            .label {
                                margin-left: 5px;
                                padding: 3px 10px;

                                i {
                                    font-size: 10px;
                                    line-height: 10px;
                                    display: inline-block;
                                    position: relative;
                                    top: 1px;
                                }
                            }
                        }
                    }
                }
            }

            .text {
                border: 0;
                width: 100%;
                height: $textSize;
                resize: none;
                overflow: auto;
            }

            input:focus,
            input:active,
            textarea:focus,
            textarea:active {
                outline: 0;
                background: #fff;
            }
        }

        .composer-attachments {
            .attachments-header {
                background: #eee;
                padding: 10px;
                display: block;
                border-bottom: 1px solid #ddd;

                .attachments-title {
                    display: inline-block;
                    width: calc(100% - 35px);
                }

                .attachments-options {
                    display: inline-block;
                    text-align: right;
                    width: 30px;

                    button {
                        padding: 0;
                    }
                }
            }

            .attachments-box {
                display: block;
                background: #eee;
                border-bottom: 1px solid #ddd;
                padding: 5px;
                height: $attachmentSize;
                overflow: auto;

                .attachment {
                    display: block;
                    background: #fff;
                    border-radius: 2px;
                    border: 1px solid #ccc;
                    padding: 5px;
                    margin-bottom: 5px;

                    &:last-child {
                        margin: 0;
                    }

                    .name {
                        display: inline-block;
                        width: calc(100% - 200px);
                        vertical-align: middle;
                        font-weight: 400;

                        i {
                            margin-left: 5px;
                            display: inline-block;
                            vertical-align: middle;
                            font-size: 16px;
                            line-height: 16px;
                        }

                        > span,
                        > a {
                            display: inline-block;
                            vertical-align: middle;
                            font-size: 12px;
                            color: $theme-light;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width: calc(100% - 30px);
                        }

                        input {
                            display: inline-block;
                            width: 32%;
                            border-radius: 3px;
                            border: 1px solid #ccc;
                            padding: 5px;
                            font-size: 12px;

                            &:active,
                            &:focus {
                                outline: 0;
                            }
                        }
                    }

                    .options {
                        display: inline-block;
                        text-align: right;
                        width: 195px;
                    }
                }
            }
        }

        .composer-footer {
            padding: 10px;
            background: #eee;
        }
    }
}