#dashboard {
    .dashboard-box {
        &.dashboard-overview {
            .overview-resume {
                .resume {
                    margin-bottom: 30px;

                    b {
                        display: block;
                        font-size: 30px;
                        font-weight: 700;
                        color: #333;
                    }

                    span {
                        font-size: 16px;
                        font-weight: 300;
                        display: block;
                        margin-top: 5px;
                    }
                }
            }
        }

        &.dashboard-pendings {
            .documents {
                .document {
                    display: block;
                    margin: 15px 0;

                    &:first-child {
                        margin-top: 0;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .icon {
                        display: inline-block;
                        margin-right: 10px;
                        vertical-align: middle;
                        font-size: 20px;
                        line-height: 20px;
                        background: $warning;
                        color: #fff;
                        padding: 10px;
                        border-radius: 100%;
                    }
                    
                    .info {
                        display: inline-block;
                        font-size: 12px;
                        vertical-align: middle;
                        width: calc(100% - 55px);

                        .name {
                            display: block;
                            font-weight: 600;
                            color: $theme;
                            margin-bottom: 5px;

                            small {
                                font-weight: 400;
                            }
                        }

                        .company {
                            color: $theme-light;
                            font-style: italic;
                        }
                    }
                }
            }
        }
        
        .panel-heading {
            border-bottom: 1px solid #eee;
            background: #fff;

            .panel-title {
                font-size: 20px;
                font-weight: 700;
                color: $theme-dark;
                margin: 0 0 10px;
                text-transform: uppercase;
            }

            .panel-subtitle {
                font-size: 14px;
                font-weight: 300;
                color: $theme-light;
                margin: 0;
            }

            .panel-options {
                float: right;

                button {
                    display: inline-block;
                }

                .dropdown {
                    display: inline-block;
                }
            }
        }
    }

    .dashboard-metric {
        section {
            display: block;

            .icon {
                display: inline-block;
                font-size: 50px;
                vertical-align: middle;
                line-height: 50px;
                color: $secondary;
            }

            .info {
                display: inline-block;
                width: calc(100% - 60px);
                text-align: right;
                vertical-align: middle;

                .title {
                    display: block;
                    font-size: 18px;
                    font-weight: 300;
                    margin-bottom: 5px;
                }

                .metric {
                    font-size: 30px;
                    font-weight: 700;
                    color: $theme;

                    .of {
                        font-weight: 300;
                        color: $theme-light;
                    }
                }
            }
        }
    }
}