.btn-group {
    .dropdown {
        display: inline-block;

        .dropdown-toggle {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: 0;
        }
    }
}

.dropdown {
    .dropdown-menu {
        min-width: 200px;
        border-radius: 2px;
        padding: 0 0 5px;

        .item {
            &.active {
                a {
                    background: #eee;
                    color: #555;
                }
            }

            &:first-child {
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;

                > a {
                    border-top-left-radius: 2px;
                    border-top-right-radius: 2px;
                }
            }

            > a {
                border-radius: 0;
                font-size: 12px;
                font-weight: 300;
                color: #777;
                transition: all 0.2s;
                display: block;
                padding: 6px 25px;
                color: $theme-light;

                i {
                    font-size: 14px;
                    margin-right: 5px;
                    position: relative;
                    top: 2px;
                }

                &:hover {
                    background: $primary;
                    color: #fff;
                }
            }
        }
    }
}