#header {
    background: $primary;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;

    .logo {
        width: 200px;
        background: $primary-dark;
        height: 50px;
        line-height: 50px;
        text-align: center;
        display: inline-block;
        transition: all .2s;

        &.minimize {
            width: 50px;
        }

        h1 {
            margin: 0;

            a {
                color: #fff;
                font-weight: 300;
                line-height: 50px;
                height: 50px;
                padding: 0;
                display: block;
                font-size: 20px;
            }
        }
    }

    .toggle-sidebar {
        display: inline-block;
        padding: 0 10px;

        a {
            color: #fff;
            font-size: 18px;
            line-height: 18px;
        }
    }

    .header-menu {
        height: 50px;
        float: right;

        .menu {
            li {
                height: 50px;
                line-height: normal;
                float: left;
                display: inline-block;

                > a {

                }

                .dropdown {
                    &.open {
                        > button {
                            background: $primary-dark;
                        }
                    }

                    > button {
                        padding: 0;
                        background: none;
                        border: 0;
                        height: 50px;
                        line-height: normal;
                        padding: 0 10px;
                        display: block;
                    }

                    .dropdown-menu {
                        padding: 0 0 10px;
                        border: 0;
                        border-bottom-left-radius: $border-radius-base;
                        border-bottom-right-radius: $border-radius-base;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                        border: 1px solid #eee;
                        border-top-width: 0;
                    }
                }

                &.notifications {
                    .dropdown {
                        > button {
                            > i {
                                font-size: 16px;
                                line-height: normal;
                            }

                            .notify {
                                position: relative;
                                right: -7px;
                                top: 23px;

                                .heartbit {
                                    animation: 1s ease-out 0s normal none infinite running heartbit;
                                    border: 5px solid #ef355d;
                                    border-radius: 70px;
                                    height: 25px;
                                    position: absolute;
                                    right: -4px;
                                    top: -20px;
                                    width: 25px;
                                    z-index: 10;
                                }

                                .point {
                                    background-color: #ef355d;
                                    border-radius: 30px;
                                    height: 6px;
                                    position: absolute;
                                    right: 6px;
                                    top: -10px;
                                    width: 6px;
                                }
                            }
                        }

                        .dropdown-menu {
                            min-width: 330px;
                            
                            .notifications-items {
                                display: block;
                                max-height: 242px;
                                overflow: auto;
                            }

                            .item {
                                &.header {
                                    display: block;
                                    border-bottom: 1px solid #e8e8e8;
                                    padding: 10px;

                                    > span {
                                        display: inline-block;
                                        font-size: 14px;
                                        text-align: left;
                                        font-weight: 400;
                                        line-height: normal;
                                        width: calc(100% - 30px);
                                        vertical-align: middle;
                                    }

                                    a {
                                        display: inline-block;
                                        text-align: right;
                                        width: 20px;
                                        vertical-align: middle;

                                        i {
                                            line-height: normal;
                                            margin: 0;
                                            vertical-align: top;
                                        }
                                    }
                                }

                                &.notification {
                                    padding: 20px;
                                    line-height: 20px;
                                    display: block;
                                    border-bottom: 1px solid #e8e8e8;
                                    background: #fff;
                                    color: #888;

                                    &:last-child {
                                        border-bottom: 0;
                                    }

                                    .icon {
                                        display: inline-block;
                                        vertical-align: middle;
                                        background: $primary;
                                        color: #fff;
                                        height: 40px;
                                        line-height: 40px;
                                        width: 40px;
                                        text-align: center;
                                        margin-right: 15px;
                                        border-radius: 100%;
                                        vertical-align: middle;

                                        img {
                                            max-width: 100%;
                                            border-radius: 100%;
                                        }
                                    }

                                    .message {
                                        display: inline-block;
                                        width: calc(100% - 60px);
                                        vertical-align: middle;
                                        font-weight: 400;

                                        b {
                                            font-weight: 600;
                                            color: #666;
                                        }
                                    }
                                }
                            }

                            .notifications-empty {
                                padding: 15px 20px;
                                color: #777;

                                h4 {
                                    font-size: 18px;
                                    font-weight: 300;
                                    display: block;
                                    margin-bottom: 15px;
                                }
                            }
                        }
                    }
                }

                &.user-menu {
                    .dropdown {
                        position: relative;

                        &.open {
                            button {
                                background: $primary-dark;
                            }
                        }

                        > button {
                            padding: 0 20px;
                            font-size: 14px;
                            font-weight: 300;

                            .user-img {
                                display: inline-block;
                                vertical-align: middle;
                                margin-right: 10px;

                                img {
                                    border-radius: 100%;
                                    width: 25px;
                                    height: 25px;
                                }
                            }
                        }

                        .dropdown-menu {
                            min-width: 260px;

                            .user-header {
                                padding: 10px;
                                line-height: normal;

                                .user-img {
                                    width: 60px;
                                    margin-right: 10px;
                                    display: inline-block;

                                    img {
                                        border-radius: 100%;
                                    }
                                }

                                .user-info {
                                    display: inline-block;
                                    width: calc(100% - 75px);
                                    line-height: normal;
                                    vertical-align: top;

                                    .name {
                                        font-size: 16px;
                                        font-weight: 600;
                                        display: block;
                                        margin-bottom: 5px;
                                        display: block;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                    }

                                    .email {
                                        font-size: 12px;
                                        font-weight: 400;
                                        display: block;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                    }
                                }

                            }

                            .header {
                                padding: 10px 15px;
                                color: $theme-light;
                                font-size: 12px;
                                font-weight: 300;
                                display: block;
                                line-height: normal;
                                height: auto;
                            }

                            .item {
                                line-height: normal;

                                > a {
                                    padding: 6px 25px;
                                    color: $theme-light;
                                    font-size: 12px;
                                    display: block;
                                    border-radius: 0;

                                    &:hover {
                                        background: $primary;
                                        color: #fff;
                                        transition: all .2s;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes heartbit {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    25% {
        opacity: 0.1;
        transform: scale(0.1);
    }
    50% {
        opacity: 0.3;
        transform: scale(0.5);
    }
    75% {
        opacity: 0.5;
        transform: scale(0.8);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
@keyframes heartbit {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    25% {
        opacity: 0.1;
        transform: scale(0.1);
    }
    50% {
        opacity: 0.3;
        transform: scale(0.5);
    }
    75% {
        opacity: 0.5;
        transform: scale(0.8);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}