.label {
    padding: 5px 10px;
    border-radius: 100px;
    font-weight: 600;
    background: $theme-light;

    &.label-success {
        background: $success;
    }

    &.label-primary {
        background: $primary;
    }

    &.label-secondary {
        background: $secondary;
    }

    &.label-warning {
        background: $warning;
    }
}

.label-group {
    .label {
        font-size: 11px;
        border-radius: 0;

        &:first-child {
            border-bottom-left-radius: 2px;
            border-top-left-radius: 2px;
        }

        &:last-child {
            border-bottom-right-radius: 2px;
            border-top-right-radius: 2px;
        }
    }
}