#reports {
    .filters-fields {
        display: block;
        margin-bottom: 30px;

        .form-group {
            .icon {
                display: inline-block;
                font-size: 25px;
                line-height: 25px;
                width: 30px;
                vertical-align: middle;
                color: $theme-light;
            }

            input {
                height: 50px;
                line-height: 50px;
                box-shadow: 0 2px 4px rgba(5, 15, 44, 0.1);
                border: 0;
                border-radius: 2px;
                font-size: 16px;
                color: #777;
                cursor: text;
                border: 1px solid #e1e1e1;
                display: inline-block;
            }

            .el-select {
                cursor: text;
            }

            .field {
                display: inline-block;
                width: calc(100% - 45px);
            }
        }
    }

    .panel-filters {
        .filters {
            list-style: none;

            li {
                display: inline-block;

                &.filter {
                    height: 80px;
                    line-height: 80px;

                    i {
                        font-size: 30px;
                        line-height: 30px;
                        vertical-align: middle;
                    }
                    
                    .info {
                        display: inline-block;
                        line-height: normal;
                        vertical-align: middle;
                        
                        b {
                            display: block;
                            font-size: 12px;
                            margin-bottom: 5px;
                        }
                        
                        span {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    table {
        &.table {
            .filters {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    display: inline-block;
                    margin-right: 10px;
                    font-size: 12px;
                }
            }
        }

        &.table-result {
            .document {
                b {
                    display: block;
                }

                small {
                    display: block;
                }
            }

            .user {
                img {
                    width: 40px;
                    display: inline-block;

                    &:nth-child(n + 2) {
                        margin-left: -15%;
                    }
                }
            }
        }
    }

    .result-topbar {
        .links {
            display: inline-block;
            margin: 17px 0;
            height: 40px;
            line-height: 40px;
        }

        .pagination {
            .btn-group {
                margin-left: 10px;
            }
        }
    }
}

.el-select-dropdown {
    &.filters-popper {
        margin: 0;
        border: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        .el-select-dropdown__item {
            height: 50px;
            line-height: 50px;
            padding: 0 20px;

            &.hover,
            &.selected {
                background: $primary !important;
                color: #fff !important;
            }
        }
    }
}

.el-picker-panel {
    &.filter-date-picker {
        width: 700px !important;
    }
}