.sidebar {
    width: 90px;
    background: $theme;
    overflow: initial;
    position: fixed;
    top: 50px;
    bottom: 0;
    padding: 0;
    z-index: 2000;
    transition: all .2s;

    .menu {
        display: block;
        list-style: none;

        li {
            display: block;
            width: 100%;

            &.active,
            &:hover {
                a {
                    background: $theme-dark;
                    color: #fff;
                }
            }

            a {
                color: $theme-light;
                text-align: center;
                height: auto;
                line-height: normal;
                padding: 15px 0;
                font-size: 10px;
                font-weight: 300;
                transition: all .2s;

                i {
                    display: block;
                    font-size: 32px;
                }
                
                img {
                    display: block;
                    margin: 0 auto 8px;
                    text-align: center;
                }
            }
        }
    }
}
