.summary {
    .panel {
        padding: 20px;

        .panel-body {
            padding: 0;
            position: relative;

            h3 {
                font-size: 18px;
                font-weight: 300;
                margin: 0;
            }

            .count {
                font-size: 40px;
                font-weight: 700;
                margin-bottom: 15px;
                display: block;
                line-height: 40px;

                i {
                    color: rgba(255, 255, 255, .5);
                    margin-right: 10px;
                }
            }

            .increase {
                font-size: 11px;
                margin: 10px 0 0;
                font-weight: 300;

                i {
                    font-size: 20px;
                    line-height: 0;
                    vertical-align: middle;
                }
            }
        }
    }
}