.timeline-horizontal {
    list-style: none;
    display: block;
    padding: 0;
    margin-top: 20px;

    .item {
        transition: all .2s ease-in;
        display: inline-block;
        margin-bottom: 30px;

        .timestamp {
            margin-bottom: 30px;
            padding: 0 80px 0 0;
            font-weight: 300;

            .author {
                display: block;
                margin-bottom: 2px;
                font-weight: 600;
                font-size: 12px;
            }

            .date {
                display: block;
                font-size: 12px;
            }
        }

        .event {
            padding: 0 80px 0 0;
            display: flex;
            justify-content: center;
            border-top: 2px solid #D6DCE0;
            position: relative;
            transition: all .2s ease-in;

            &:before {
                content: '';
                width: 25px;
                height: 25px;
                background: #fff;
                border-radius: 25px;
                border: 1px solid #ddd;
                position: absolute;
                top: -15px;
                left: 0;
                transition: all 0.2s ease-in;
            }

            h4 {
                font-weight: 600;
                margin-top: 30px;
            }
        }

        &.complete {
            .event {
                border-top: 2px solid $success;

                &:before {
                    background: $success;
                    border: 0;
                    transition: all .2s ease-in;
                }

                h4 {
                    color: $success;
                }
            }
        }
    }
}