#updrive {
    .filters {
        line-height: 60px;
        float: right;
        margin-right: 10px;

        .el-checkbox {
            margin-bottom: 0;
        }

        .el-select {
            margin-bottom: 0;
        }
    }

    .documents-list {
        .document-item {
            border-left: 10px solid $primary;
            display: block;
            margin-bottom: 5px;
            width: 100%;
            border-radius: 4px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .09);

            &.warning {
                border-color: $warning;

                .document-header {
                    .column {
                        &.status {
                            background: $warning;
                        }
                    }
                }
            }

            &.success {
                border-color: $success;

                .document-header {
                    .column {
                        &.status {
                            background: $success;
                        }
                    }
                }
            }

            &.danger {
                border-color: $danger;

                .document-header {
                    .column {
                        &.status {
                            background: $danger;
                        }
                    }
                }
            }

            &.gray {
                border-color: #888;

                .document-header {
                    .column {
                        &.status {
                            background: #888;
                        }
                    }
                }
            }

            .document-header {
                background: #fff;
                display: table;
                padding: 0;
                height: 130px;
                line-height: 130px;
                border-radius: 4px;
                width: 100%;
                cursor: pointer;
                transition: all .2s;

                &:hover,
                &.opened {
                    background: #f3f3f3;
                }

                .column {
                    display: table-cell;
                    vertical-align: middle;
                    line-height: normal;

                    &.toggle {
                        width: 70px;
                        text-align: center;

                        i {
                            font-size: 16px;
                        }
                    }

                    &.name {
                        line-height: normal;
                        vertical-align: middle;
                        padding: 0 30px;
                        width: 30%;

                        h3 {
                            display: block;
                            font-size: 18px;
                            font-weight: 700;
                            color: $theme;
                            line-height: 20px;
                            margin: 0 0 10px;
                            text-transform: uppercase;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width: 90%;
                        }

                        .company {
                            color: $info;
                            font-weight: 400;
                            font-size: 14px;
                            display: inline-block;
                            margin-bottom: 20px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width: 90%;
                        }

                        .flag {
                            display: block;
                            font-size: 12px;
                            font-weight: 300;

                            i {
                                color: #d1d1d1;
                                font-size: 14px;
                                line-height: 14px;
                            }
                        }
                    }

                    &.data {
                        ul {
                            list-style: none;
                            margin: 0;
                            padding: 0;

                            li {
                                display: block;
                                font-size: 12px;
                                margin-bottom: 5px;
                                color: $theme-light;

                                > span {
                                    display: inline-block;
                                    margin-right: 15px;
                                    width: 100px;
                                    text-align: right;
                                    font-weight: 300;
                                }

                                > b {
                                    font-weight: 400;

                                    &.datetime {
                                        span {
                                            &:first-child {
                                                font-weight: 600;
                                                margin-right: 5px;
                                            }

                                            &:last-child {
                                                font-weight: 300;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.status {
                        background: $primary;
                        height: 80px;
                        line-height: 80px;
                        width: 100px;
                        color: #fff;
                        text-align: center;

                        > div {
                            line-height: normal;
                            vertical-align: middle;
                            display: inline-block;

                            i {
                                display: block;
                                margin-bottom: 15px;
                                font-size: 25px;
                                line-height: 20px;
                            }

                            span {
                                display: block;
                                font-size: 12px;
                                line-height: normal;
                            }
                        }
                    }

                    &.options {
                        width: 30px;
                        text-align: center;

                        .dropdown {
                            display: block;
                            height: 100%;

                            button {
                                &.btn {
                                    width: 100%;
                                    height: 100%;
                                    display: block;
                                    float: left;
                                    border-radius: 0;
                                    padding: 0;

                                    &:hover {
                                        background: darken(#DCDCDC, 5%);
                                    }
                                }
                            }

                            .dropdown-menu {
                                .item {
                                    a {
                                        height: auto;
                                        line-height: normal;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .document-details {
                display: block;
                width: 100%;
                background: #fff;
                padding: 30px;

                .details {
                    display: block;

                    .item {
                        margin-bottom: 25px;

                        b {
                            font-weight: 600;
                            display: block;
                            margin-bottom: 3px;
                        }

                        span {
                            font-weight: 300;
                        }
                    }

                    .document-progress {
                        margin-top: 60px;
                        padding: 0 0 10px 0;

                        &.danger {
                            .step {
                                &.active {
                                    .dot {
                                        .info {
                                            i {
                                                color: $danger
                                            }

                                            span {
                                                background: $danger;
                                            }
                                        }
                                    }
                                }

                                .dot {
                                    background: $danger;
                                }

                                .progress {
                                    .progress-bar {
                                        background: $danger;
                                    }
                                }
                            }
                        }

                        &.warning {
                            .step {
                                &.active {
                                    .dot {
                                        .info {
                                            i {
                                                color: $warning
                                            }

                                            span {
                                                background: $warning;
                                            }
                                        }
                                    }
                                }

                                .dot {
                                    background: $warning;
                                }

                                .progress {
                                    .progress-bar {
                                        background: $warning;
                                    }
                                }
                            }
                        }

                        &.primary {
                            .step {
                                &.active {
                                    .dot {
                                        .info {
                                            i {
                                                color: $primary
                                            }

                                            span {
                                                background: $primary;
                                            }
                                        }
                                    }
                                }

                                .dot {
                                    background: $primary;
                                }

                                .progress {
                                    .progress-bar {
                                        background: $primary;
                                    }
                                }
                            }
                        }

                        .step {
                            padding: 0;
                            position: relative;

                            .dot {
                                position: absolute;
                                width: 26px;
                                height: 26px;
                                display: block;
                                background: $success;
                                top: 25px;
                                left: 50%;
                                margin-top: -15px;
                                margin-left: -15px;
                                border-radius: 50%;

                                &:after {
                                    content: ' ';
                                    width: 10px;
                                    height: 10px;
                                    background: #fff;
                                    border-radius: 50px;
                                    position: absolute;
                                    top: 8px;
                                    left: 8px;
                                }

                                .info {
                                    display: none;
                                }
                            }

                            .progress {
                                position: relative;
                                border-radius: 0px;
                                height: 8px;
                                box-shadow: none;
                                margin: 20px 0;
                                background-color: #ddd;

                                .progress-bar {
                                    width: 0px;
                                    box-shadow: none;
                                    background: $success;
                                }
                            }

                            &.complete {
                                .progress {
                                    .progress-bar {
                                        width: 100%;
                                    }
                                }
                            }

                            &.active {
                                .dot {
                                    height: 60px;
                                    width: 60px;
                                    top: 8px;

                                    &:after {
                                        height: 40px;
                                        width: 40px;
                                        top: 10px;
                                        left: 10px;
                                    }

                                    .info {
                                        display: block;

                                        i {
                                            position: absolute;
                                            top: 50%;
                                            left: 19px;
                                            font-size: 22px;
                                            color: $success;
                                            z-index: 1;
                                            transform: translateY(-50%);
                                        }

                                        .name {
                                            position: absolute;
                                            top: 50%;
                                            transform: translateY(-50%);
                                            left: 55px;
                                            background: $success;
                                            color: #fff;
                                            height: 30px;
                                            line-height: 30px;
                                            padding: 0 15px;
                                            text-transform: uppercase;
                                            font-weight: 700;
                                            z-index: 2;
                                            font-style: 11px;

                                            .triangle {
                                                position: absolute;
                                                background: inherit;
                                                text-align: left;
                                                width: 17px;
                                                height: 17px;
                                                border-top-right-radius: 5px;
                                                transform: rotate(-90deg) skewX(-30deg) scale(1, .866);
                                                top: 2px;
                                                right: -13px;

                                                &:before,
                                                &:after {
                                                    content: '';
                                                    position: absolute;
                                                    background: inherit;
                                                    width: 17px;
                                                    height: 17px;
                                                    border-top-right-radius: 5px;
                                                }

                                                &:before {
                                                    transform: rotate(-135deg) skewX(-45deg) scale(1.414, .707) translate(0, -50%);
                                                }

                                                &:after {
                                                    transform: rotate(135deg) skewY(-45deg) scale(.707, 1.414) translate(50%);
                                                }
                                            }
                                        }
                                    }
                                }

                                .progress {
                                    .progress-bar {
                                        width: 50%;
                                    }
                                }
                            }

                            &.disabled {
                                .dot {
                                    background-color: #ddd;
                                    pointer-events: none;

                                    &:after {
                                        opacity: 0;
                                    }
                                }
                            }

                            &:first-child {
                                &.active {
                                    .progress {
                                        .progress-bar {
                                            width: 0%;
                                        }
                                    }
                                }

                                .progress {
                                    left: 50%;
                                    width: 50%;
                                }
                            }

                            &:last-child {
                                &.opened {
                                    &.active {
                                        .dot {
                                            .info {
                                                .name {
                                                    left: -80px;
                                                }
                                            }
                                        }
                                    }
                                }

                                &.active {
                                    .dot {
                                        .info {
                                            .name {
                                                left: -85px;

                                                .triangle {
                                                    top: 11px;
                                                    left: -15px;
                                                    transform: rotate(90deg) skewX(-30deg) scale(1, 0.866)
                                                }
                                            }
                                        }
                                    }

                                    .progress {
                                        .progress-bar {
                                            width: 100%;
                                        }
                                    }
                                }

                                .progress {
                                    width: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.send-document-form {
    .form-group {
        .custom-select {
            width: 100%;
            border: 0;
            cursor: text;

            &.no-icon {
                .el-input {
                    .el-input__icon {
                        display: none;
                    }
                }
            }

            &.multiple {
                .el-input {
                    input {
                        vertical-align: top;
                    }
                }
            }

            .el-input {
                input {
                    border-radius: $border-radius-base;
                    border: 1px solid #d1d1d1;
                    padding: 20px 8px;
                    cursor: text;
                    font-size: 12px;
                }
            }

            .el-select__tags {
                padding: 0 2px;

                .el-tag {
                    padding: 5px 5px 5px 8px;
                    border: 0;
                    height: auto;
                    line-height: normal;

                    .el-tag__close {
                        top: 0;
                        right: 0;
                        margin-left: 5px;
                        font-size: 8px;

                        &:hover {
                            background: none;
                            color: inherit;
                        }
                    }
                }
            }
        }
    }

    .content {
        border: 1px solid #d1d1d1;
        border-radius: $border-radius-base;
        padding: 10px;

        .attachments {
            display: block;

            .file {
                border: 1px solid #d1d1d1;
                background: #f3f3f3;
                display: block;
                margin-bottom: 5px;
                padding: 0 5px;
                height: 50px;
                line-height: 48px;
                font-size: 12px;
                color: $theme-darker;
                border-radius: $border-radius-base;

                .icon {
                    margin-left: 10px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 10px;
                    width: 20px;
                    font-size: 18px;
                    line-height: 18px;
                }

                .data {
                    display: inline-block;
                    width: calc(100% - 260px);
                    vertical-align: middle;
                    line-height: normal;

                    &.no-padding {
                        padding: 0;
                    }

                    .name {
                        font-weight: 600;

                        display: block;
                    }

                    .date {
                        font-size: 10px;

                        .divider {
                            margin: 0 1px;
                            display: inline-block;
                        }
                    }

                    .form-control {
                        display: inline-block;
                        width: 30%;
                        margin-right: 5px;
                        padding: 5px;
                    }
                }

                .buttons {
                    float: right;
                    vertical-align: top;
                    width: 200px;
                    display: inline-block;
                    text-align: right;
                    margin-left: 5px;

                    .btn-blank {
                        border: 0;
                        background: 0;
                        padding: 0;
                        cursor: pointer;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        textarea.form-control {
            border: 0;
            resize: none;
            font-size: 12px;
            padding: 0;
        }
    }

    .btn-attachment {
        border: 0;
        background: none;
        margin-left: 10px;
        padding: 0;

        i {
            font-size: 16px;
            line-height: 16px;
        }
    }
}

.custom-popper {
    .el-select-dropdown__item {
        height: auto;
        line-height: normal;

        .icon {
            background: $theme-dark;
            color: #fff;
            width: 35px;
            height: 35px;
            line-height: 35px !important;
            text-align: center;
            margin-right: 10px;
            display: inline-block;
            border-radius: 100%;
            vertical-align: middle;
        }

        .name {
            color: $theme-dark;
            display: inline-block;
            vertical-align: middle;

            small {
                color: lighten($theme-dark, 30%);
                display: block;
            }
        }
    }
}

.name-popper {
    max-width: 350px !important;
    width: auto !important;
}